html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: Roboto, sans-serif;
  --accent: #4F46E5;
  --accent-light: #7E76FF;
}

.btn {
  font-family: Raleway, sans-serif;
  font-weight: bold;
}

.btn.btn-primary, .navbar-nav .btn.btn-primary {
  color: white;
  background-color: var(--accent);
  transition: background-color 0.7s, box-shadow 0.7s, transform 0.1s;
  transition-timing-function: ease-out;
  border-radius: 0.7rem;
}

.btn.btn-dark, .navbar .btn.btn-dark {
  color: white;
  background-color: black;
  transition: background-color 0.7s, box-shadow 0.7s, transform 0.1s;
  transition-timing-function: ease-out;
  border-radius: 0.7rem;
}

.navbar .btn {
  padding: 5px 3vw;
}

.btn.btn-primary:active, .btn.btn-primary:hover {
  box-shadow: 0px 5px 20px rgba(79, 70, 229, 0.7);
}

.btn.btn-primary:active {
  opacity: 0.95;
  transform: scale(0.97);
  box-shadow: 0px 2px 10px rgba(79, 70, 229, 0.7);
}

.btn.btn-outline-primary, .navbar .btn.btn-outline-primary {
  color: var(--accent);
  border-color: var(--accent);
  border-width: 2px;
  border-radius: 0.7rem;
  transition: all 0.1s;
  transition-timing-function: ease-out;
}

.btn.btn-outline-primary:active, .btn.btn-outline-primary:hover {
  background-color: var(--accent-light);
  color: white;
  border-color: var(--accent-light);
  box-shadow: 0px 5px 20px rgba(126, 118, 255, 0.7);
}

.btn.btn-outline-primary:active {
  opacity: 0.9;
  transform: scale(0.97);
  box-shadow: 0px 2px 10px rgba(126, 118, 255, 0.7);
}

.btn.btn-dark:hover, .navbar .btn.btn-dark:hover {
  box-shadow: 0px 5px 20px #525252;
}

.btn.btn-dark:active, .navbar .btn.btn-dark:active {
  opacity: 0.80;
  box-shadow: 0px 2px 10px #525252;
  transform: scale(0.97);
}

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: calc(2.1rem + 2vw);
}

#hero-heading {
  line-height: 100%;
}

#hero-section {
  max-width: 1400px;
}

#hero-button {
  display: inline-block;
  vertical-align: middle;
  font-weight: 800;
  font-size: 24px;
  border-radius: 1.5rem;
}

.btn-image {
  position: absolute;
  width: auto;
  height: auto;
  right: -2rem;
  top: 13%;
}

#hero-bg-heading {
  color: #EEEDED;
  font-size: calc(2rem + 12vw);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  line-height: 90%;
  letter-spacing: -0.04em;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#courses {
  background-color: #EAEAEA;
}

.course-card {
  border-radius: 1.5rem;
  overflow: hidden;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.course-card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0,0,0,.15);
}

.course-card-avatar {
  max-width: 75px;
  margin: 0 auto;
  position: absolute;
  bottom: -20px;
}

.card-footer {
  background: none;
  border: none;
}

.card-title, .card-title a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: inherit;
}

.card h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.card .bi-list {
  font-size: 4em;
}

.card .btn:hover {
  box-shadow: 0px 5px 5px #EEEEEE;
}

.far.fa-trash-alt {
  font-size: 1.5em;
}

.course-card.others {
  background-color: var(--accent);
  color: white;
}

.primary-text {
  color: var(--accent);
}

#navcol-2 {
  max-width: 1320px;
}

nav {
  z-index: 1000;
}

.navbar-light .navbar-nav .nav-link, .nav-link, .nav-link a {
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.navbar-light .navbar-nav .nav-link:hover, .nav-link:hover, .nav-link a:hover {
  color: var(--accent-light);
  text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--accent);
}

.dropdown-item.disabled {
  color: black;
}

.dropdown-item:active {
  background-color: var(--accent);
}

.panel {
  border-radius: 1rem;
}

.list-group.list-group-flush {
  font-weight: bold;
}

.list-group-item.active {
  background: var(--accent);
}

.list-group-item {
  transition: all 0.4s ease 0.1s;
}

.list-group-item a {
  text-decoration: none;
  color: black;
}

.list-group-item.active a {
  color: white;
}

.list-group-item i {
  margin-right: 20px;
}

.list-group-item:hover {
  background-color: #EEEEEE;
}

.list-group-item.active:hover {
  background-color: var(--accent-light);
}

.input-group.search input {
  font-family: 'Montserrat', sans-serif;
  border-color: #B1B1B1;
  border-radius: 0.6rem;
  border-width: 1px;
}

.search .btn.btn-primary {
  border-radius: 0.6rem;
}

.pagination {
  max-width: 400px;
}

.page-item {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.page-item .page-link {
  color: #8A8A8A;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--accent);
  border-color: var(--accent);
}

.page-item.disabled .page-link {
  z-index: 3;
  color: #fff;
  background-color: lightgray;
  border-color: lightgray;
  box-shadow: none;
} 

.course-title {
  background-color: var(--accent);
  color: white;
}

.course-title h1 {
  font-size: 48px;
  font-weight: bold;
}

.course-title p {
  font-size: 18px;
}

.course-desc h1 {
  font-weight: bold;
  margin-top: 1em;
}

.progress-step {
  width: 30px;
  height: 30px;
  background-color: #C4C4C4;
  border-radius: 5px;
}

.progress-step.passed {
  background-color: #6ED68C;
}

.progress-step.active {
  background-color: #6ED68C;
  border: 2px solid var(--accent);
  box-sizing: border-box;
}

.sidebar__header h4 {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.progress {
  height: 5px;
}

.progress-bar {
  background-color: #6ED68C;
}

.main {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.sidebar {
  height: calc(100vh - 93px);
}

.sidebar, .sidebar a {
  color: black;
  text-decoration: none;
}

.sidebar__unit.current {
  background: rgba(79, 70, 229, 0.4);
}

.sidebar__theme_header {
  font-weight: bold;
  padding-left: 0.3em;
}

.sidebar__theme {
}

.sidebar__unit {
  padding-left: 1.5em;
}

.content-container {
  max-width: 900px;
}

.test-radio-letter {
  color: black;
  border: 1px solid var(--accent-light);
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin-right: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.test-radio-letter {
  transition: all 0.5s ease;
}

input[type=radio]:checked + label .test-radio-letter {
  background-color: var(--accent-light);
  color: white;
}

.youtube-frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.content-container .card {
  max-height: 60vh;
}

/* Footer */

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.btn.btn-primary > a {
  color: white;
  text-decoration: none;
}

.dropdown-item > a {
  color: black;
  text-decoration: none;
}