<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Страницы</h3>
                <ul>
                    <li><a href="/">Главная</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Информация</h3>
                <ul>
                    <li><a href="/about">О нас</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>daiyndal</h3>
                <p>Сервис для подготовки к НИШ онлайн.</p>
            </div>
            <div class="col item social">
                <a href="https://www.youtube.com/channel/UCR9lLpWfeL1FoBRKKuKxMNg"><i class="fab fa-youtube"></i></a>
                <a href="mailto:daiyndalgroup@gmail.com"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
        <p class="copyright">daiyndal group © 2021</p>
    </div>
</footer>