{% extends "base.html" %}
{% block title %}Главная{% endblock title %}
{% block content %}
{% load static %}
<body style="background-color: #F5F5F5">
    {% if user.is_authenticated %}
    <nav class="navbar navbar-light navbar-expand-md pb-2 pb-md-4 bg-white border-bottom">
        <div class="container-fluid"><a class="navbar-brand d-inline-block d-md-none" href="/"><img src="{% static '/img/daiyndal-icon.png' %}" width="162" height="36"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse mx-auto pt-md-4 px-2 position-relative justify-content-between" id="navcol-2">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/courses/">Каталог</a></li>
                    <li class="nav-item"><a class="nav-link" href="/my-courses/">Мои курсы</a></li>
                    <li class="nav-item d-block d-md-none"><a class="nav-link" href="/profile/">Профиль</a></li>
                    <li class="nav-item"><a class="nav-link d-block d-md-none" href="/logout/">Выйти</a></li>
                </ul>
                <a class="translate-middle-x start-50 position-absolute" href="/"><img class="d-none d-md-inline-block" src="{% static '/img/daiyndal-icon.png' %}" width="162" height="36"></a>
                <div class="nav-item dropdown d-none d-md-block"><a id="profile" class="mx-lg-3 nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding-left: 0; padding-right: 0;">{{request.user.user_firstname}}<i class="fas fa-user" style="font-size: 25px; margin-left: 10px"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="profile">
                        <li class="dropdown-item disabled">{{ request.user }}</li>
                        <li class="dropdown-item"><hr class="dropdown-divider" /></li>
                        <li class="dropdown-item"><a href="/profile/">Профиль</a></li>
                        <li class="dropdown-item"><a href="/my-courses/">Мои курсы</a></li>
                        <li class="dropdown-item"><a href="/logout/">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% else %}
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand d-inline-block d-md-none" href="/">
                <img src="{% static '/img/daiyndal-icon.png' %}" width="162" height="36">
            </a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mx-auto pt-md-4 px-2 position-relative justify-content-between" id="navcol-2" style="max-width: 1400px;">
                <a class="btn btn-dark" href="/courses/">Курсы</a>
                <a class="d-none d-md-inline-block translate-middle-x start-50 position-absolute" href="/"><img src="{% static '/img/daiyndal-icon.png' %}" width="162" height="36"></a>
                <form>
                    <a class="btn btn-primary mx-1 mx-lg-3" href="/login/">Войти</a>
                    <a class="btn btn-outline-primary" href="/register/">Регистрация</a>
                </form>
            </div>
        </div>
    </nav>
    {% endif %}    
    <div id="hero-section" class="container col-xxl-12 px-2 py-md-2">
        <div class="row flex-lg-row align-items-center pt-md-1">
            <div class="mx-auto col-10 col-sm-8 col-lg-6"><img class="d-block mx-lg-auto img-fluid" src="{% static '/img/Saly-1.png' %}"></div>
            <div class="col-lg-6">
                <h1 id="hero-heading" class="display-6 mb-3 big-heading">Подготовься вместе с daiyndal</h1>
                <p class="lead">Онлайн система которая позволит подготовится к поступлению в НИШ. Больше не надо покупать дорогие курсы.</p>
                <div class="align-items-center d-flex justify-content-md-start">
                    <button class="btn btn-primary px-4 col-11 col-md-6" id="hero-button" style="position: relative; height: 6rem;">
                        <a class="" href="/courses/">
                            <span>Пробный урок</span>
                            <span class="btn-image"><img src="{% static '/img/Saly-26.png' %}"></span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="row px-2 py-2 py-md-0 gx-0">
            <div class="col-md-9">
                <h1 id="hero-bg-heading">daiyndal</h1>
            </div>
            <div class="d-none d-md-block col-md-3"><img class="img-fluid" src="assets/img/Saly-25.png"></div>
        </div>
    </div>
    <section id="courses" class="pt-1 pb-4 py-md-5">
        <div class="container">
            <h2 class="big-heading">Курсы</h2>
            <div class="courses-list mt-md-4">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
                    <div class="col">
                        <div class="card course-card"><img class="card-img-top" src="assets/img/math-card.jpg">
                            <div class="mb-3" style="position: relative;"><img class="course-card-avatar mx-4" src="assets/img/math-avatar.png"></div>
                            <div class="card-body px-4">
                                <h5 class="card-title"><a class="stretched-link" href="#">Математика | Рус</a></h5>
                            </div>
                            <div class="card-footer px-4">
                                <div class="align-items-center media d-flex"><img class="flex-shrink-0 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" style="max-width: 50px">
                                    <div class="flex-grow-1 ms-3">
                                        <h6>Карен Каренов</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card course-card"><img class="card-img-top" src="assets/img/math-card.jpg">
                            <div class="mb-3" style="position: relative;"><img class="course-card-avatar mx-4" src="assets/img/math-avatar.png"></div>
                            <div class="card-body px-4">
                                <h5 class="card-title my-2 d-inline-block"><a class="align-self-center stretched-link" href="#">Математика | Каз</a></h5>
                            </div>
                            <div class="card-footer px-4">
                                <div class="align-items-center media d-flex"><img class="flex-shrink-0 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" style="max-width: 50px">
                                    <div class="flex-grow-1 ms-3">
                                        <h6>Карен Каренов</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card course-card"><img class="card-img-top" src="assets/img/eng.png">
                            <div class="mb-3" style="position: relative;"><img class="course-card-avatar mx-4" src="assets/img/eng-avatar.png"></div>
                            <div class="card-body px-4">
                                <h5 class="card-title my-2 d-inline-block"><a class="align-self-center stretched-link" href="#">Английский | Рус</a></h5>
                            </div>
                            <div class="card-footer px-4">
                                <div class="align-items-center media d-flex"><img class="flex-shrink-0 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" style="max-width: 50px">
                                    <div class="flex-grow-1 ms-3">
                                        <h6>Карен Каренов</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card course-card"><img class="card-img-top" src="assets/img/kaz.png">
                            <div class="mb-3" style="position: relative;"><img class="course-card-avatar mx-4" src="assets/img/kaz-avatar.png"></div>
                            <div class="card-body px-4">
                                <h5 class="card-title my-2 d-inline-block"><a class="align-self-center stretched-link" href="#">Казахский язык | Рус</a></h5>
                            </div>
                            <div class="card-footer px-4">
                                <div class="align-items-center media d-flex"><img class="flex-shrink-0 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" style="max-width: 50px">
                                    <div class="flex-grow-1 ms-3">
                                        <h6>Карен Каренов</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card course-card"><img class="card-img-top" src="assets/img/rus.png">
                            <div class="mb-3" style="position: relative;"><img class="course-card-avatar mx-4" src="assets/img/rus-avatar.png"></div>
                            <div class="card-body px-4">
                                <h5 class="card-title my-2 d-inline-block"><a class="align-self-center stretched-link" href="#">Русский язык | Рус</a></h5>
                            </div>
                            <div class="card-footer px-4">
                                <div class="align-items-center media d-flex"><img class="flex-shrink-0 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" style="max-width: 50px">
                                    <div class="flex-grow-1 ms-3">
                                        <h6>Карен Каренов</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card course-card others py-5" style="height: 100%">
                            <div class="d-flex justify-content-center align-items-center card-body px-4 flex-column" style="height: 100%">
                                <h5 class="card-title"><a href="stretched-link">Прочее</a></h5><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-list">
                                    <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "myapp/partials/base-footer.html" %}
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
{% endblock content %}