{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock title %}
{% block content %}
{% load static %}
<body style="background-color: #F5F5F5;">
    <div class="container-fluid mx-auto">
        <section style="margin: 8em 0em;">
            <div class="row d-flex">
                <div class="col text-center"><img src="{% static 'img/daiyndal-icon.png' %}" width="254" height="56"></div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="text-center my-4" style="font-family: Raleway;">Сброс пароля</h4>
                </div>
            </div>
            <div class="row d-flex justify-content-xl-center">
                <div class="col offset-xl-0 text-center">
                    <div class="mx-auto px-3 px-md-5 py-4"
                        style="background: var(--bs-white);max-width: 570px;border-radius: 1.2rem;">
                        <p class="form-text text-start" style="width: 100%;font-size: 16px;">Мы отправим вам письмо для сброса пароля</p>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label text-start" for="{{ password_reset_form.email.id_for_label }}" style="width: 100%;font-size: 18px;">Почта</label>
                                {{ password_reset_form.email }}
                            </div>
                            <button class="btn btn-primary d-block" type="submit"
                            style="width: 100%;border-radius: 0.7rem;height: 50px;">Отправить письмо</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
{% endblock content %}